.page-container {
  position: relative;
  width: 100%;
  min-height: 100%;

  &.placeholder-bottom {
    padding-bottom: calc(100rpx + 80rpx + constant(safe-area-inset-bottom));
    padding-bottom: calc(100rpx + 80rpx + env(safe-area-inset-bottom));
  }
}
